*.exe
*/cmake-build-debug/
*.CR2
*.ppt
*.pptx
DeepReverseToneMapping.pdf
*.zip
cmake-build-debug/
.idea/
backup.cpp
*.egg
*.obj
*.egg-info
*.so
*.mexw64
*.pyc
Makefile
CMakeCache.txt
CMakeFiles/*
/CMakeFiles
CMakeFiles
CMakeFiles/
cmake_install.cmake
*/cmake_install.cmake
build/*
build
.xmake/*
.xmake
.github
*.pdf